<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="BindingBugDemo.BindingBugDemo" android:versionName="v1" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="BindingBugDemo" android:icon="@drawable/icon"></application>
</manifest>